
html, body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    height: 100%;
    
}

/*       Diagramación 2 columnas                                               -------------------- */ 
/*       PRIMER COLUMNA LATERAL IZQ                                                      -------------------- */

.foto {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    background-position: center;
    border: 2px solid #ffffff;
    margin: 60px 60px 20px 60px ;
}


#ColumnaIzq{
    float: left;
    width: 30%;
    height:100%;
    background-color: bisque;
}


        /* Estilo Contenido 1er Columna Lateral izq --------------------- */

 #Nombre_y_Titulo {
    background-color: grey;
    text-align: center;
    padding-bottom: 5px;
}

h1#nombre_ppal {
    color:white;
    font-size: 23px;
    margin-bottom: 10px;  
}

h1#titulo_profesional {
    color:orange;
    font-size: 23px;
    margin-top: 10px;  
}

ol li{
    list-style-type: none;
    padding: 4px;
    margin-bottom: 6px;
    margin-left: 55px;
    text-align: left;
    }


h1#FondoGris{
    color: orange;
    background-color: gray;
    margin: 40px 55px;
    padding: 5px 0px;
    text-align: center;
    letter-spacing: 2px;
}

h4.estudios{
    margin: 10px 55px;
    font-size: 20px;
}

p {
    margin: 10px 55px 30px 55px;
}

ul {
    margin-left: 55px;
    padding: 0px;
}

ul li {
    list-style-type: none;
    padding: 10px 0px 10px 0px;
    border-bottom: solid 1px;
    width: 90%;
}

.punto {
    height: 10px;
    width: 10px;
    background-color: #000000;
    border-radius: 50%;
    margin-right: 20px;
    float: right;
  }




/*       SEGUNDA  COLUMNA DERECHA                                                        --------------------*/


#ColumnaDerecha{
    float: left;
    width: 65%;
    background-color: #ffffff;
    padding-left: 10px;
    margin: 5px;
    height: 1518px;
}

        

        /* Estilo Contenido 2da Columna  --------------------- */

h1.experiencia{
    color: orange;
    padding: 5px;
    margin: 0px 50px 50px 50px;
    text-align: center;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    letter-spacing: 2px;
}

#Puesto{
    height: 130px;
    margin: 5px;
    padding: 5px;
}

#PuestoyPeriodo{
    width: 40%;
    margin: 5px;
    float: left;
}

p.descripcion{
    width: 50%; 
    margin: 5px;
    float: right;
}

h4#Empresa_Periodo {
    color: gray;
    font-size: 17px;
    margin: 10px 10px 10px 15px;
}

.Nombre_Puesto{
    font-size: 20px;
    margin: 15px;
}


        /* boxes grises fondo 2da Columna */

        #Base_gris{
            margin-left: 15px;
            background-color: lightgray;
            height: 320px;
            text-align: center;
            font-weight: 300;
            padding: 40px 10px;

        }
         

        
        #sobre_mi{
            width: 38%;
            float: left;
            margin-right: 5px;
            line-height: 1.5em;
        }

        #cursos{
            width: 60%;
            float: left;
            margin-left: 5px;
        }














